/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */

/*
.color-1 {
 background: dodgerblue;
}

.color-2 {
 background: saddlebrown;   
}

.color-3 {
    background: wheat;
}

.color-4 {
    background: maroon;
}

.color-5 {
    background: darkolivegreen;
}
*/

.color-1 {
 background: rgb(228, 225, 242);
}

.color-2 {
 background: rgb(6, 140, 189);   
}

.color-3 {
    background: rgb(216, 155, 36);
}

.color-4 {
    background: rgb(189, 123, 40);
}

.color-5 {
    background: rgb(139, 85, 66);
}

/* Textures or Patterns*/

.pattern-1 {
background: url('../img/notebook.png');
}

.pattern-2 {
    background: url('../img/green_cup.png');
}

.pattern-3 {
    background: url('../img/foggy_birds.png');
}
    

/* Imagery */

.imagery-1 {


}

/* Icons */

.icon-1 {
 background: url('../img/iconmonstr-pen-15-icon-256.png');   
}

/* Navigation */

nav li {
    font-family: 'Dosis', sans-serif;
}

/* Typography */


/* Forms */


/* Tables */


/* Cards */