/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */

.color-1 {
 background: dodgerblue;
}

.color-2 {
 background: saddlebrown;   
}

.color-3 {
    background: wheat;
}


/* Textures or Patterns*/

.pattern-1 {
background: url('../img/notebook.png');
}

.pattern-2 {
    background: url('../img/green_cup.png');
}

.pattern-3 {
    background: url('../img/foggy_birds.png');
}
    

/* Imagery */

.imagery-1 {


}

/* Icons */

.icon-1 {
 background: url('../img/iconmonstr-pen-15-icon-256.png');   
}

/* Typography */


/* Forms */


/* Tables */


/* Cards */