/***************/
/* YOUR STYLES */
/***************/

.color-1 {
 background: rgb(241, 243, 241);
}

.color-2 {
 background: rgb(6, 140, 189);   
}

.color-3 {
    background: rgb(216, 155, 36);
}

.color-4 {
    background: rgb(189, 123, 40);
}

.color-5 {
    background: rgb(139, 85, 66);
}

/* Textures or Patterns*/

.pattern-1 {
background: url('../img/notebook.png');
}

.pattern-2 {
    background: url('../img/dark_wood.png');
}

.pattern-3 {
    background: url('../img/tileable_wood_texture.png');
}
    

/* Imagery in HTML */

/* Icons in HTML */

/* Navigation */

nav li {
    
    display: inline-block;
    margin: 4px;
    padding: 1em;
    background: rgb(6, 140, 189);
    border-radius: .5em;
    
}

nav a {
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    color: rgb(241, 243, 241);
    text-align: center;
}

nav a:hover, nav a:focus {
    color: rgb(189, 123, 40);       
}

/* Links */

.textlink a:link {
 color: rgb(216, 155, 36);
    text-decoration: none;
}

.textlink a:hover, a:focus {
    color: rgb(241, 243, 241);
    text-decoration: none;
}

.textlink a:visited, a:active {
    color: rgb(6, 140, 189);
    text-decoration: none;
}

button {
    font-family: 'Dosis', sans-serif;
    background: rgb(189, 123, 40);
    border-radius: .5em;
    color: rgb(241, 243, 241);

}



/* Typography */

h2 {
    font-family: 'Shadows Into Light Two', cursive;
    color: rgb(6, 140, 189);
}
    
h3 {
    
    font-family: 'Dosis', sans-serif;
    color: rgb(189, 123, 40);
    
}

p {
    font-family: 'Open Sans', sans-serif;
    color: rgb(241, 243, 241);
}


/* Forms */

form {
 background: rgba(6, 140, 189, .8);
border: .5em solid rgba(216, 155, 36, .9);
border-radius: 1%;
}

label {
    font-family: 'Dosis', sans-serif;
    color: rgb(189, 123, 40);
}

input {
    font-family: 'Open Sans', sans-serif;
    border-radius: .3em;
    background: rgb(241, 243, 241);
    width: 54%;
}
    


/* Tables */

table {
border-radius: .5em;
border: 5px solid rgb(6, 140, 189); 
}

.columns td {
    font-family: 'Dosis', sans-serif;
    color: white;
    background: rgb(6, 140, 189);
}

td {
    font-family: 'Open Sans', sans-serif;
   color: rgb(6, 140, 189);
    border: 3px solid lightgray;
    border-radiusL .5em;
    
}



/* Cards */